* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding-top: 15px;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 5px;
  font-size: 25px;
  text-align: center;
}

#title1 {
  display: inline;
  color: white;
}

#title2 {
  display: inline;
  color: red;
}

#description {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 23px;
  text-align: center;
}

#survey-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 32px 40px 60px;
  /* margin: 5% 30%; */
  width: 420px;
  height: 770px;
  margin: 15px auto 30px;
}

.box {
  padding-bottom: 20px;
}

#content {
  padding-right: 80px;
  height: 35px;
  width: 400px;
  padding-left: 10px;
}

.container {
  background-color:  rgba(0, 0, 0, 0.3);
  margin: 30px 100px;
}

#submit {
  display: block;
  background-color: red;
  color: white;
  width: 160px;
  height: 47px;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: none;
}

#submit:hover {
  background-color: white;
  color: red;
}

.input {
  height: 52px;
  width: 400px;
  padding-left: 8px;
  padding-right: 8px;
}

Textarea {
  margin-top: 8px;
  color: grey;
}
